@model Prettifier.Models.ReportViewModel
@{
    ViewBag.Title = "Prettifer - Export";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <h2>Prettifier Report</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TopMostUsedPrettifiedNumbers)
            </th>

            <th></th>
        </tr>
        @foreach (var item in Model.TopMostUsedPrettifiedNumbers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
            </tr>
        }
    </table>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrettifiedNumbersByUsers)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrettifiedNumbersByUsers[0].Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PrettifiedNumbersByUsers[0].PrettifiedNumbersCount)
            </th>

            <th></th>
        </tr>
        @foreach (var item in Model.PrettifiedNumbersByUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrettifiedNumbersCount)
                </td>
            </tr>
        }
    </table>
</body>
</html>